.menu{
	width: 100%;
	height: 40px;
	background: #161B22;
	border-bottom: 2px #CAEBF2;
	border-style: ridge
}

.header{
	width: 100%;
	height: 1000px;
	background: #06090F
}

.main{
	width: 100%;
	height: 400px;
	background-color: #161B22;
	border-top: 2px #CAEBF2;
	border-bottom: 2px #CAEBF2;
	border-style: ridge
}

.footer{
	width: 100%;
	height: 40px;
	background: #06090F;
}

.menuBar{
	width: 420px;
	height: 40px;
	margin: 0 auto;
	background: #161B22;
}

.menuBar ul li{
	float: left;
}

.menuBar ul li a{
	display: block
}

.menuBar ul li#projects a{
	width: 190px;
	height: 40px;
	background-image: url("../images/projects.png")
}

.menuBar ul li#projects a:hover{
	background-image: url("../images/projectsHover.png")
}

.menuBar ul li#me a{
	width: 190px;
	height: 40px;
	background-image: url("../images/me.png")
}

.menuBar ul li#me a:hover{
	background-image: url("../images/meHover.png")
}

.menuBar ul li#logo a{
	width: 38px;
	height: 38px;
	background: url("../../../images/main2.png");
	background-size: 38px 38px;
	margin: 1px auto
}

.menuBar ul li#logo a:hover{
	background: url("../../../images/main.png") ;
	background-size: 38px 38px
}

.news{
	width: 960px;
	height: 540px;
	margin: 20px auto;
	border-radius: 8px 8px;
	border-color: #CAEBF2;
	border-width: thick;
	border-style: ridge
}

.shortInfo{
	width: 900px;
	height: 150px;
	background: #161B22;
	margin: 100px auto;
	border: 2px;
	border-color: #CAEBF2;
	border-style: ridge;
	border-radius: 8px 8px;
	font: normal 16px "Century Gothic";
	color: #CAEBF2;
	text-align: center;
}

.main ul{
	margin: auto;
	display: table
}

.main ul li{
	float: left;
	display: block;
	width: 25%;
	margin: 50px 0px
}

.copyright{
	width: 200px;
	height: 100%;
	background: #06090F;
	font: bold 16px "Century Gothic";
	color: #CAEBF2;
	margin: auto;
	text-align: center		
}

.lang{
	float: right;
	width: 40px;
	height: 20px;
	font: bold 14px "Century Gothic";
	margin: 10px 40px;
}

.tr{
	color: #C1C5C0;
	text-decoration: underline
}

.en{
	color: #CAEBF2;
	text-decoration: none
}

.en:hover{
	color: #C1C5C0;
	text-decoration: underline
}

.theme{
	float: left;
	width: 80px;
	height: 40px;
	margin: 5px 40px;
}

.theme ul li{
	float: left;
	display: block
}

#slideshow {
	overflow: hidden;
  	height: 540px;
  	width: 960px;
  	margin: 0 auto;
}

.slide-wrapper {
  	width: 2880px;
  	-webkit-animation: slide 18s ease infinite;
}

.slide {
  	float: left;
  	height: 540px;
  	width: 960px;
}

.slide:nth-child(1) {
  	background-image: url("../../../images/hosgeldiniz.png");
	background-size: 960px 540px
}

.slide:nth-child(2) {
  	background-image: url("../../../images/newtheme.png");
	background-size: 960px 540px
}

.slide:nth-child(3) {
  	background-image: url("../../../images/mutluolyeter.png");
	background-size: 960px 540px
}

.slide-photo {
	margin: auto
}

@-webkit-keyframes slide {
  	20% {margin-left: 0px;}
  	30% {margin-left: -960px;}
  	50% {margin-left: -960px;}
  	60% {margin-left: -1920px;}
  	70% {margin-left: -1920px;}
  	80% {margin-left: -1920px;}
  	90% {margin-left: -1920px;}
}

