.menu{
	width: 100%;
	height: 40px;
	background: #CAEBF2;
	border-bottom: 2px #C1C5C0;
	border-style: ridge
}

.header{
	width: 100%;
	height: 525px;
	background: #05386B
}

.main{
	width: 100%;
	height: 400px;
	background-color: #CAEBF2;
	border-top: 2px #C1C5C0;
	border-bottom: 2px #C1C5C0;
	border-style: ridge
}

.footer{
	width: 100%;
	height: 100%;
	background: #05386B;
}

.menuBar{
	width: 420px;
	height: 40px;
	margin: 0 auto;
	background: #CAEBF2;
}

.menuBar ul li{
	float: left;
}

.menuBar ul li a{
	display: block
}

.menuBar ul li#projects a{
	width: 190px;
	height: 40px;
	background-image: url("../images/projects.png")
}

.menuBar ul li#projects a:hover{
	background-image: url("../images/projectsHover.png")
}

.menuBar ul li#me a{
	width: 190px;
	height: 40px;
	background-image: url("../images/me.png")
}

.menuBar ul li#me a:hover{
	background-image: url("../images/meHover.png")
}

.menuBar ul li#logo a{
	width: 40px;
	height: 40px;
	background: url("../images/main.png" );
	background-size: 40px 40px
}

.menuBar ul li#logo a:hover{
	background: url("../images/main2.png") ;
	background-size: 40px 40px
}

.news{
	width: 640px;
	height: 360px;
	margin: auto;
	border-radius: 8px 8px;
	border-color: #CAEBF2;
	border-width: thick;
	border-style: ridge
}

.shortInfo{
	width: 636px;
	height: 96px;
	background: #CAEBF2;
	margin: 20px auto;
	border: 2px #000000;
	border-color: #C1C5C0;
	border-style: ridge;
	border-radius: 8px 8px;
	font: normal 14.5px "Century Gothic";
	color: #05386B;
	text-align: center;
}

.main ul{
	margin: auto;
	display: table
}

.main ul li{
	float: left;
	display: block;
	width: 25%;
	margin: 50px 0px
}

.copyright{
	width: 200px;
	height: 100%;
	background: #05386B;
	font: 16px bold "Century Gothic";
	color: #CAEBF2;
	margin: auto;
	text-align: center		
}

.lang{
	float: right;
	width: 40px;
	height: 40px;
	font: bold 14px "Century Gothic";
	margin: 10px 40px;
}

.en{
	color: #C1C5C0;
	text-decoration: underline
}

.tr{
	color: #05386B;
	text-decoration: none
}

.tr:hover{
	color: #C1C5C0;
	text-decoration: underline
}

#slideshow {
	overflow: hidden;
  	height: 360px;
  	width: 640px;
  	margin: 0 auto;
}

.slide-wrapper {
  	width: 1920px;
  	-webkit-animation: slide 18s ease infinite;
}

.slide {
  	float: left;
  	height: 360px;
  	width: 640px;
}

.slide:nth-child(1) {
  	background-image: url("../images/welcome.png");
	background-size: 640px 360px
}

.slide:nth-child(2) {
  	background-image: url("../images/numfin.png");
	background-size: 640px 360px
}

.slide:nth-child(3) {
  	background-image: url("../images/mutluolyeter.png");
	background-size: 640px 360px
}

.slide-photo {
	margin: auto
}

@-webkit-keyframes slide {
  	20% {margin-left: 0px;}
  	30% {margin-left: -640px;}
  	50% {margin-left: -640px;}
  	60% {margin-left: -1280px;}
  	70% {margin-left: -1280px;}
  	80% {margin-left: -1280px;}
  	90% {margin-left: -1280px;}
}

