.menu{
	width: 100%;
	height: 40px;
	background: #CAEBF2;
	border-bottom: 2px #C1C5C0;
	border-style: ridge
}

.header{
	width: 100%;
	height: 100%;
	background: #05386B
}

.footer{
	width: 100%;
	height: 40px;
	background: #CAEBF2;
}

.menuBar{
	width: 420px;
	height: 40px;
	margin: 0 auto;
	background: #CAEBF2;
}

.menuBar ul li{
	float: left;
}

.menuBar ul li a{
	display: block
}

.menuBar ul li#projects a{
	width: 190px;
	height: 40px;
	background-image: url("../../images/projectsHover.png")
}

.menuBar ul li#projects a:hover{
	background-image: url("../../images/projectsHover.png")
}

.menuBar ul li#me a{
	width: 190px;
	height: 40px;
	background-image: url("../../images/me.png")
}

.menuBar ul li#me a:hover{
	background-image: url("../../images/meHover.png")
}


.menuBar ul li#logo a{
	width: 40px;
	height: 40px;
	background: url("../../images/main.png" );
	background-size: 40px 40px		
}

.menuBar ul li#logo a:hover{
	background: url("../../images/main2.png");
	background-size: 40px 40px
}

.projectsList{
	width: 100%;
	height: 2000px;
	background-color: #05386B;
	text-align: center;
	margin: 400px auto;
	font: bold 45px "Century Gothic";
	color: #CAEBF2
}

.copyright{
	width: 200px;
	height: 40px;
	background: #CAEBF2;
	font: bold 16px "Century Gothic";
	color: #05386B;
	text-align: center;
	margin: 0px auto	
}

.lang{
	float: right;
	width: 40px;
	height: 20px;
	font: bold 14px "Century Gothic";
	margin: 10px 40px;
}

.tr{
	color: #C1C5C0;
	text-decoration: underline
}

.en{
	color: #05386B;
	text-decoration: none
}

.en:hover{
	color: #C1C5C0;
	text-decoration: underline
}
