.menu{
	width: 100%;
	height: 40px;
	background: #161B22;
	border-bottom: 2px #CAEBF2;
	border-style: ridge
}

.header{
	width: 100%;
	height: auto;
	background: #06090F
}

.footer{
	width: 100%;
	height: 40px;
	background: #161B22;
}

.menuBar{
	width: 420px;
	height: 40px;
	margin: 0 auto;
	background: #161B22;
}

.menuBar ul li{
	float: left;
}

.menuBar ul li a{
	display: block
}

.menuBar ul li#projects a{
	width: 190px;
	height: 40px;
	background-image: url("../../images/projects.png")
}

.menuBar ul li#projects a:hover{
	background-image: url("../../images/projectsHover.png")
}

.menuBar ul li#me a{
	width: 190px;
	height: 40px;
	background-image: url("../../images/me.png")
}

.menuBar ul li#me a:hover{
	background-image: url("../../images/meHover.png")
}

.menuBar ul li#logo a{
	width: 38px;
	height: 38px;
	background: url("../../../../images/main2.png");
	background-size: 38px 38px;
	margin: 1px auto
}

.menuBar ul li#logo a:hover{
	background: url("../../../../images/main.png") ;
	background-size: 38px 38px
}

.mePage{
	width: auto;
	height: auto;
	margin: 30px 60px;
	background-color: #161B22;
	border-radius: 8px 8px;
	border-color: #CAEBF2;
	border-width: thick;
	border-style: ridge
}

.copyright{
	width: 200px;
	height: 100%;
	background: #161B22;
	font: bold 16px "Century Gothic";
	color: #CAEBF2;
	margin: auto;
	text-align: center		
}

.aboutBox{
	width: auto;
	height: auto;
	margin: auto;
}

.about{
	font: normal 2vw "Century Gothic";
	color: #CAEBF2;
	margin: 10px 30px
}

.contact{
	font: bold 25px "Century Gothic";
	text-align: center;
	color: #CAEBF2;
}

.lang{
	float: right;
	width: 40px;
	height: 20px;
	font: bold 14px "Century Gothic";
	margin: 10px 40px;
}

.tr{
	color: #C1C5C0;
	text-decoration: underline
}

.en{
	color: #CAEBF2;
	text-decoration: none
}

.en:hover{
	color: #C1C5C0;
	text-decoration: underline
}

.theme{
	float: left;
	width: 80px;
	height: 40px;
	margin: 5px 40px;
}

.theme ul li{
	float: left;
	display: block
}
